{% import "_includes/forms" as forms %}

{% set config = craft.app.config.getConfigFromFile( 'plural' ) %}

{% macro configWarning(setting, file) -%}
    {{ 'This is being overridden by the {setting} config setting.' | t( 'app', {
        setting: '<a href="https://github.com/WilliamIsted/CraftPlural#' ~ setting | lower ~ '" rel="noopener" target="_blank">' ~ setting ~ '</a>'
    }) | raw }}
{%- endmacro %}

{% from _self import configWarning %}

{% block content %}

	<h2>General Settings</h2>
	<p>Plural lets you spell out numbers lower than a set number. Decimals will always be shown as numeric.</p>

	{{ forms.lightswitchField(
		{
			label:			'Spell out numbers',
			instructions:	'Should Plural spell out number lower than that specified by \'Spell out numbers under\'.',
			id:				'spellOut',
			name:			'spellOut',
			disabled:		( config.spellOut is defined ? true : false ),
			warning:		( config.spellOut is defined ? configWarning('spellOut') ),
			on:				settings.spellOut
		}
	) }}

	{{ forms.textField(
		{
			label:			'Spell out numbers',
			instructions:	'Numbers lower than this should be shown as a number and not a word.',
			id:				'spellOutLower',
			name:			'spellOutLower',
			size:			10,
			disabled:		( config.spellOutLower is defined ? true : false ),
			warning:		( config.spellOutLower is defined ? configWarning('spellOutLower') ),
			value:			settings.spellOutLower
		}
	) }}

{% endblock %}